Python/hello.py
Data/ml-25m/movies.csv
Data/ml-25m/ratings.csv
Data/ml-25m/genome-scores.csv
Data/ml-25m/genome-tags.csv
Data/ml-25m/links.csv
Data/movie.db
Data/ml-25m/tags.csv
Data/ml-25m/README.txt
Data/ml-25m-README.html
Data/ml-25m.zip
Data/movie - Copia.db
Web
.ipynb_checkpoints/ReadData-checkpoint.ipynb
.ipynb_checkpoints/LoadData-checkpoint.ipynb
python/__pycache__/app.cpython-310.pyc
python/__pycache__/hello.cpython-310.pyc
python/__pycache__/run_app.cpython-310.pyc
python/static/images/search.svg
Data/movie - Copia (2).db
Python/app.py
python/__pycache__/data.cpython-310.pyc
MovieBasedRecom.ipynb
MovieBasedRecom2-Copy1.ipynb
MovieBasedRecom2.ipynb
MovieBasedRecom3.ipynb
.ipynb_checkpoints/MovieBasedRecom-checkpoint.ipynb
.ipynb_checkpoints/MovieBasedRecom2-checkpoint.ipynb
.ipynb_checkpoints/MovieBasedRecom2-Copy1-checkpoint.ipynb
.ipynb_checkpoints/MovieBasedRecom3-checkpoint.ipynb
