Python/hello.py
Data/ml-25m/movies.csv
Data/ml-25m/ratings.csv
Data/ml-25m/genome-scores.csv
Data/ml-25m/genome-tags.csv
Data/ml-25m/links.csv
Data/movie.db
Data/ml-25m/tags.csv
Data/ml-25m/README.txt
Data/ml-25m-README.html
Data/ml-25m.zip
Data/movie - Copia.db
Web
.ipynb_checkpoints/ReadData-checkpoint.ipynb
.ipynb_checkpoints/LoadData-checkpoint.ipynb
