<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>{% block title %}{% endblock %} - MovieDB.io</title>
    {% endblock %}
</head>
<body>
    <ul>
        <li><a href="/MovieDB.io/home">Home</a></li>
        <li><a href="/MovieDB.io/movieList/0">Movie List</a></li>
        <li><a href="/MovieDB.io/movieRanking">Movie Ranking</a></li>
        <li><a href="/MovieDB.io/userList">User List</a></li>
    </ul>
    <div id="content">
        {% block PageTitle %}
        {% endblock %}
        <div class="SearchArea">
            <form class="SearchArea">
                <select name="lsize" id="lsize" class="NavButton">\n
                    <option value="10">Show</option>\n
                    <option value="10">10</option>\n
                    <option value="25">25</option>\n
                    <option value="50">50</option>\n
                    <option value="100">100</option>\n
                </select>
                <select name="orderby" id="orderby" class="NavButton">\n
                    <option value="id">Order By</option>\n
                    <option value="title">Title</option>\n
                    <option value="year">Year</option>\n
                    <option value="rating">Rating</option>\n
                </select>
                <select name="descasc" id="descasc" class="NavButton">\n
                    <option value="desc">Descending</option>\n
                    <option value="asc">Ascending</option>\n
                </select>
                <select name="genre" id="genre" class="NavButton">\n
                    <option value="all">Genre</option>\n
                    {% for genre in genreList %}
                        <option value="{{ genre }}">{{ genre }}</option>\n
                    {% endfor %}
                </select>
                <br>
                {% if search == "" %}
                    <input type="text" placeholder="Search.." name="searchBar" class="SearchBar" id="searchBar">
                {% else %}
                    <input type="text" name="searchBar" class="SearchBar" id="searchBar" value="{{search}}">
                {% endif %}    
                <input type="submit" value="Search" class="NavButton">
            </form>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

<div id="footer" class="footer">
    {% block footer %}
    &copy; Copyright 2008 by<a href="http://domain.invalid/">Raphael Griffo Duarte</a>.
    {% endblock %}
</div>

</html>
