{% extends "base.html" %}
{% block title %}Movie List{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block PageTitle %}<h1>Movie List</h1>{% endblock %}
{% block content %}
    <h1>MovieDB.io</h1>
    <p class="important">
      Welcome to MovieDB.io
    </p>
    <table class="resultTable">
      <tr>
        <th>Movie Title</th>
        <th>Year of release</th>
        <th>Rating</th>
      </tr>
    {% for movie, year, rating, count in movielist %}
      <tr>
        <td class="bigColumn">{{ movie }}</td>
        {% if year != -1 %}
          <td class="smallColumn">{{ year }}</td>
        {% else %}
          <td class="smallColumn">Unkown Year</td>
        {% endif %}
        <td class="smallColumn">
          {{ rating }}
          {% if rating >= 5 %}
              <span class="markedStar">&#9733;</span>
              <span class="markedStar">&#9733;</span>
              <span class="markedStar">&#9733;</span>
              <span class="markedStar">&#9733;</span>
              <span class="markedStar">&#9733;</span>
          {% elif rating >= 4 %}
            <span class="markedStar">&#9733;</span>
            <span class="markedStar">&#9733;</span>
            <span class="markedStar">&#9733;</span>
            <span class="markedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
          {% elif rating >= 3 %}
            <span class="markedStar">&#9733;</span>
            <span class="markedStar">&#9733;</span>
            <span class="markedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
          {% elif rating >= 2 %}
            <span class="markedStar">&#9733;</span>
            <span class="markedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
          {% elif rating >= 1 %}
            <span class="markedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
          {% else %}
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
            <span class="unmarkedStar">&#9733;</span>
          {% endif %}
          <span>({{ count }})</span>
        </td>
      </tr>
    {% endfor %}
    </table>
    <div class="PageNavigation">
        {% if page > 0 %}
          <a href="{{previous}}" class="NavButton"> Previous Page </a>
        {% endif %}
        {% if max == 0 %}
          <a href="{{next}}" class="NavButton"> Next Page </a>
        {% endif %}
    </div>
{% endblock %}